.sitemapdata {
  display: block;
  width: 100%;
  padding-top: 100px;
  .wrapper {
    width: 1200px;
    margin: auto;
    .headdata {
      display: flex;
      align-items: center;
      gap: 5px;
      a {
        text-decoration: none;
        color: #0678b1;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        font-size: 14px;
        color: #555;
      }
      p {
        font-size: 14px;
        color: #555;
      }
    }
    .bannerdata {
      width: 100%;
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
    .daylocaldata {
      display: block;
      h1 {
        font-size: 25px;
        line-height: normal;
        padding-top: 30px;
        text-align: center;
        border-top: 0;
        font-weight: 400;
        color: #000;
        span {
          font-size: 12px;
          color: #000;
          line-height: normal;
          position: relative;
          top: -5px;
          left: -6px;
        }
      }
      .makedata {
        display: flex;
        align-items: center;
        padding-top: 5px;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        .finddata {
          width: 31%;
          background-image: radial-gradient(
            circle at 84% 16%,
            #f15946,
            #e01a4f 90%
          );
          border-radius: 5px;
          padding: 10px 15px;
          &:nth-of-type(2) {
            background-image: radial-gradient(
              circle at 84% 16%,
              #33b6a8,
              #1e75a6 90%
            );
          }
          &:nth-of-type(3) {
            background-image: radial-gradient(
              circle at 84% 16%,
              #3dbb3d,
              #008041 90%
            );
          }
          span {
            display: flex;
            gap: 5px;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
            }
            h2 {
              font-size: 18px;
              color: #fff;
              line-height: 18px;
              font-weight: 400;
            }
          }
          .linkdata {
            display: block;
            width: 100%;
            padding: 15px 0px;
            a {
              display: flex;
              text-decoration: none;
              align-items: center;
              font-size: 15px;
              font-weight: 500;
              margin-bottom: 8px;
              padding: 7px 12px;
              color: #fff;
              background-color: rgba(255, 255, 255, 0.2);
              &:hover {
                text-decoration: underline;
              }
            }
            .buttondata {
              display: block;
              text-align: center;
              padding: 8px 20px;
              width: 300px;
              margin: 0px auto;
              background: #b8283c;
              margin-top: 17px;
              font-size: 16px;
              color: #fff;
              font-weight: 500;
              border-radius: 2px;
              border: solid 2px #fff;

              &:nth-of-type(2) {
                background: #1e75a6;
              }
            }
          }
          .linkdata1 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            padding: 15px 0px;
            a {
              width: 48%;
              display: flex;
              text-decoration: none;
              align-items: center;
              font-size: 15px;
              justify-content: center;
              font-weight: 500;
              margin-bottom: 8px;
              padding: 7px 12px;
              color: #fff;
              background-color: rgba(255, 255, 255, 0.2);
              &:hover {
                text-decoration: underline;
              }
            }
            .buttondata {
              display: block;
              text-align: center;
              padding: 8px 20px;
              width: 300px;
              margin: 0px auto;
              background: #008041;
              margin-top: 9px;
              font-size: 16px;
              color: #fff;
              font-weight: 500;
              border-radius: 2px;
              border: solid 2px #fff;
            }
          }
        }
      }
    }
    .popularcity {
      width: 100%;
      border: 2px solid #eee;
      padding: 15px 18px;
      box-sizing: border-box;
      margin-top: 50px;
      border-radius: 5px;
      span {
        display: flex;
        align-items: center;
        gap: 5px;
        h2 {
          font-size: 20px;
          padding: 0;
          margin: 0;
          color: #222;
          font-weight: 400;
        }
      }
      .citydata {
        display: block;
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          list-style: none;
          padding: 5px 0px;
          margin: 0;
          li {
            width: 20%;
            padding: 3px 0px;
            a {
              text-decoration: none;
              color: #0678b1;
              font-size: 14px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .Categoriesdata {
      display: block;
      h2 {
        font-size: 25px;
        line-height: normal;
        padding-top: 30px;
        text-align: center;
        border-top: 0;
        font-weight: 400;
        color: #000;
        margin: 0px;
      }
      .maindataCategories {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .homegardendata {
          width: 31.5%;
          border: 2px solid #eee;
          padding: 15px 18px;
          box-sizing: border-box;
          margin-top: 20px;
          border-radius: 5px;
          span {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 30px;
              height: 30px;
            }
            h3 {
              font-size: 20px;
              padding: 0;
              margin: 0;
              color: #222;
              font-weight: 400;
            }
          }
          ul {
            display: block;
            list-style: none;
            padding: 10px 0px;
            margin: 0;
            li {
              padding: 3px 0px;
              a {
                text-decoration: none;
                color: #068bcd;
                font-size: 14px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .allboxdata {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 66.5%;
          .legaldata {
            width: 48.5%;
            border: 2px solid #eee;
            padding: 15px 18px;
            box-sizing: border-box;
            margin-top: 20px;
            border-radius: 5px;
            span {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 30px;
                height: 30px;
              }
              h3 {
                font-size: 20px;
                padding: 0;
                margin: 0;
                color: #222;
                font-weight: 400;
              }
            }
            ul {
              display: block;
              list-style: none;
              padding: 10px 0px;
              margin: 0;
              li {
                padding: 3px 0px;
                a {
                  text-decoration: none;
                  color: #068bcd;
                  font-size: 14px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
    .yellowpagedata {
      display: block;
      padding-top: 30px;
      margin-bottom: 50px;

      h2 {
        font-size: 25px;
        line-height: normal;
        text-align: center;
        border-top: 0;
        font-weight: 400;
        color: #000;
      }
      .mainboxdata {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        .firstbox {
          width: 31.5%;
          border: 2px solid #eee;
          padding: 15px 18px;
          box-sizing: border-box;
          border-radius: 5px;
          span {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 25px;
              height: 25px;
            }
            h3 {
              font-size: 20px;
              padding: 0;
              margin: 0;
              color: #222;
              font-weight: 400;
            }
          }
          ul {
            display: block;
            list-style: none;
            padding: 10px 0px;
            margin: 0;
            li {
              padding: 3px 0px;
              a {
                text-decoration: none;
                color: #0678b1;
                font-size: 14px;
                font-weight: 700;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .seconddata {
          width: 66.5%;
          border: 2px solid #eee;
          padding: 15px 18px;
          box-sizing: border-box;
          border-radius: 5px;
          span {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 25px;
              height: 25px;
            }
            h3 {
              font-size: 20px;
              padding: 0;
              margin: 0;
              color: #222;
              font-weight: 400;
            }
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            list-style: none;
            padding: 10px 0px;
            margin: 0;
            li {
              padding: 3px 0px;
              width: 50%;
              a {
                text-decoration: none;
                color: #0678b1;
                font-size: 14px;
                font-weight: 700;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
